ul {
    list-style: none;
}
p {
    color: #babac4;
}
.results {
    margin: 20%;
    margin-top: 0%;
    text-align: left;
}
.item .title {
    font-size: large;
    font-weight: bold;
}
.title {
    background-color: #2b2a33;
    color: #fbfbfe;
    padding-left: 5px;
}
.item {
    margin-top: 5px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #23222b;
    border: 1px solid gray;
    border-radius: 10px;
}
.page {
    background-color: #1c1b22;
}
.score {
    text-align: right;
    color: #fbfbfe;
}
.SearchBar {
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.SearchBoxContainer {
    margin-left: 10px;
    width: 600px;
    height: 40px;
    background-color: white;
    border-radius: 100px;
}
.SearchBox {
    background-color: white;
    border: none;
    float: left;
    height: 40px;
    width: 400px;
    border-radius: 100px;
    padding-left: 20px;
}
.SearchBox:focus {
    outline: none;
}
.btn {
    height: 40px;
    border-radius: 100px;
    float: right;
}
h1 {
    color: white;
    margin: 0;
}
